* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#slider-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.prev,
.next,
.dot {
  position: absolute;
  color: white;
  font-size: 4em;
  bottom: 0;
  padding: 10px;
}

.prev {
  animation: left 1s ease-in-out infinite;
}

.next {
  right: 0;
  animation: right 1s ease-in-out infinite;
}

.dot {
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 0;
}

.dot i {
  padding: 0 10px;
}

.active {
  color: blueviolet;
  animation: active 1s linear infinite;
}

@keyframes active {
  from {
    color: greenyellow;
  }
  to {
    color: blue;
  }
}

@keyframes right {
  from {
    right: 0;
  }
  to {
    right: 10px;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: 10px;
  }
}
